@media screen and (max-width:900px) {
    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        margin-bottom: 30px;
        padding: 30px;
    }
}