@media screen and (max-width :1200px) {

    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 20px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
}

@media screen and (max-width :830px) {
    #form-details {
        margin: 10px;
        padding: 30px 20px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
}

